*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: black;
    
}
h3,h4,p{
    color: white;
}
h2{
    font-family: 'VALORANT',sans-serif;
}
h3{
    font-family: 'Anton',sans-serif;
    letter-spacing: 1px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
    min-height: 100vh;
    padding:0 8%;
    box-sizing: border-box;
    /* see this above one */
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;

}

.valo-logo{
    width:7rem;
    cursor:pointer;
    margin:30px 0;
    border-radius: 2rem;

}
.nav-logo{
    width:3rem;
    cursor: pointer;
    object-fit:contain;
    
}
nav{
    /* #shrink grow basis */
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 3rem 2rem 0 0;
}
nav ul li a{
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    color: red;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0 40px;
}
.column-1{
    /* like width */
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.column-1 h2{
    font-size: 3.5em;
    color: red;
    margin: 5px 0;
}
.column-1 h3{
    /* go for white color later */
    font-size: 1.75em;
    font-weight: 500;
    margin:10px 0;
}
.column-1 h5{   
    font-size: 1em;
    margin: 10px 0 20px;   
}
button{
    min-width:20%;
    max-height:fit-content;
    padding:12px 10px ;
    border:none;
    margin: 20px 25%;
    color: white;
    background:#ff4c68;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: #FF0000;
    
}
.column-1::after{
    content: '';
    width: 8px;
    height:65%;
    background-color:#ff4c68 ;
    position: absolute;
    left:-30px;
    top:8px;
}
.column-2{
    position: relative;
    flex-basis:68%;
    display: flex;
    align-items: center;
}
.display-icon{
    width:90%;
}
.color-box{
    position: absolute;
    height: 100%;
    width:80%;
    right: 0;
    top:0;
    background-color: #ff4c68;
    border-radius: 28px 0;
    z-index: -1;  
}
.social-links{
    
    text-align: center;
}
.social-links p{
    margin-bottom: 10px;
}
.fa-brands{
    margin:0 7px;
    width: 2rem;
    height: 100%;
    cursor: pointer;
    background-color: #FF0000;
}

